<a href="https://colab.research.google.com/github/Gaukhar-ai/for_my_Thinkful_work/blob/master/NBA_Players_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 47 Lecture 1 Assignment

In this assignment, we will apply k-means clustering to a dataset containing player-season statistics for NBA players from the past four years.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

This dataset contains player-season statistics for NBA players from the past four years. Each row in this dataset represents a player's per-game averages for a single season. 

This dataset contains the following variables:

- Seas: season ('2019' = 2018-2019 season, '2018' = 2017-2018 season, etc.)
- Player: player name
- Pos: position
- Age: age
- Tm: team
- G: games played
- GS: games started
- MP: minutes played
- FG: field goals
- FGA: field goals attempted
- FG%: field goal percentage
- 3P: 3 pointers
- 3PA: 3 pointers attempted
- 3P%: 3 point percentage
- 2P: 2 pointers
- 2PA: 2 pointers attempted
- 2P%: 2 point percentage
- eFG%: effective field goal percentage
- FT: free throws
- FTA: free throws attempted
- FT%: free throw percentage
- ORB: offensive rebound
- DRB: defensive rebound
- TRB: total rebounds
- AST: assists
- STL: steals
- BLK: blocks
- TOV: turnovers
- PF: personal fouls
- PTS: points

Load the dataset.

In [2]:
# answer goes here
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/nba_player_seasons.csv')
df.head()

   Seas        Player Pos  Age   Tm   G  GS  ...  TRB  AST  STL  BLK  TOV   PF   PTS
0  2019  √Ålex Abrines  SG   25  OKC  31   2  ...  1.5  0.6  0.5  0.2  0.5  1.7   5.3
1  2019    Quincy Acy  PF   28  PHO  10   0  ...  2.5  0.8  0.1  0.4  0.4  2.4   1.7
2  2019  Jaylen Adams  PG   22  ATL  34   1  ...  1.8  1.9  0.4  0.1  0.8  1.3   3.2
3  2019  Steven Adams   C   25  OKC  80  80  ...  9.5  1.6  1.5  1.0  1.7  2.6  13.9
4  2019   Bam Adebayo   C   21  MIA  82  28  ...  7.3  2.2  0.9  0.8  1.5  2.5   8.9

[5 rows x 30 columns]

The goal is to cluster these player-seasons to identify potential player "archetypes".

Begin by removing players whose season did not meet one of the following criteria:
1. Started at least 20 games
2. Averaged at least 10 minutes per game

In [3]:
# answer goes here
df = df[df['G']>=20]
df = df[df['MP']>=10]
df.head()

   Seas             Player Pos  Age   Tm   G  ...  AST  STL  BLK  TOV   PF   PTS
0  2019       √Ålex Abrines  SG   25  OKC  31  ...  0.6  0.5  0.2  0.5  1.7   5.3
2  2019       Jaylen Adams  PG   22  ATL  34  ...  1.9  0.4  0.1  0.8  1.3   3.2
3  2019       Steven Adams   C   25  OKC  80  ...  1.6  1.5  1.0  1.7  2.6  13.9
4  2019        Bam Adebayo   C   21  MIA  82  ...  2.2  0.9  0.8  1.5  2.5   8.9
7  2019  LaMarcus Aldridge   C   33  SAS  81  ...  2.4  0.5  1.3  1.8  2.2  21.3

[5 rows x 30 columns]

Choose a subset of numeric columns that is interesting to you from an "archetypal" standpoint. 

We will choose the following basic statistics: **points, total rebounds, assists, steals, blocks**, and **turnovers**, but you should feel free to choose other reasonable feature sets if you like. Be careful not to include too many dimensions (curse of dimensionality).

In [4]:
# answer goes here
cols = ["PTS", "TRB", "AST", "STL", "BLK", "TOV", "Age"]
df = df[cols]
df.head()

    PTS  TRB  AST  STL  BLK  TOV  Age
0   5.3  1.5  0.6  0.5  0.2  0.5   25
2   3.2  1.8  1.9  0.4  0.1  0.8   22
3  13.9  9.5  1.6  1.5  1.0  1.7   25
4   8.9  7.3  2.2  0.9  0.8  1.5   21
7  21.3  9.2  2.4  0.5  1.3  1.8   33

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [5]:
# answer goes here
scaler = StandardScaler()
scaled = scaler.fit_transform(df)

Run K-means clustering with K = 3 and print out the resulting centroids. When printing the centroids, transform the scaled centroids back into their corresponding unscaled values. What "archetypes" do you see?

In [6]:
# answer goes here

k_means = KMeans(n_clusters=3)
k_means.fit(scaled)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

Experiment with different values of K. Do any further interesting archetypes come out?

In [7]:
pd.DataFrame(k_means.cluster_centers_, columns=df.columns)

        PTS       TRB       AST       STL       BLK       TOV       Age
0 -0.517289 -0.493578 -0.366520 -0.404732 -0.381467 -0.508706  0.062153
1  0.499004  1.303237 -0.197550  0.256497  1.215776  0.306930 -0.170472
2  1.421837  0.228183  1.759356  1.295188 -0.108191  1.649011 -0.020051

In [9]:
df = pd.DataFrame(scaler.inverse_transform(k_means.cluster_centers_), columns=df.columns)
df.style.background_gradient()

In [10]:
# answer goes here
k_means = KMeans(n_clusters=5)
k_means.fit(scaled)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [11]:
df = pd.DataFrame(scaler.inverse_transform(k_means.cluster_centers_), columns=df.columns)
df.style.background_gradient()